<li>
  <%= task.title %> -- <%= task.description %>
  <% if task.completed %>
    <%= form_for task, html:{id:"incomplete-task"} do |form| %> 
    <%= form.hidden_field :completed, value: 0 %>
    <%= form.submit "Incomplete" %>
    <% end %>
  <% else %>
    <%= form_for task, html:{id:"complete-task"} do |form| %>
      <%= form.hidden_field :completed, value: 1 %>
      <%= form.submit "Complete" %>
    <% end %>
  <% end %>
  <%= button_to "Delete", task_path(task), method: :delete %>
</li>
