<ul>
  <li>
    <%= task.title %> -- <%= task.description %>
    <%= form_for task do |form| %> 
      <%= form.hidden_field :completed, value: 1 %>
      <%= form.submit "Comleted" %>
    <% end %>
  </li>
</ul>
